<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}ColdOnes Podcast{% endblock %}</title>
		<meta name="description" content="{% block description %}Homepage of the ColdOnes Podcast!{% endblock %}">
		
		<!-- TODO: Add favicon -->
		<link rel="icon" type="image/png" href="">
		<link rel="apple-touch-icon" href="">

		<!-- TODO: What is this? if I support it I need a browserconfig.xml -->
		<meta name="msapplication-config" content="browserconfig.xml">
		
		{% block canonical_url %}
		<link rel="canonical" href="">
		{% endblock %}

		<!-- Critical CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block critical_css %}
		<style>
			
        </style>
		{% endblock %}

		<!-- Facebook OG Card and Twitter Card -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://example.com/page.html">
		<meta property="og:title" content="Content Title">
		<meta property="og:image" content="https://example.com/image.jpg">
		<meta property="og:description" content="Description Here">
		<meta property="og:site_name" content="Site Name">
		<meta property="og:locale" content="en_US">
		<!-- Next tags are optional but recommended -->
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@site_account">
		<meta name="twitter:creator" content="@individual_account">
		<meta name="twitter:url" content="https://example.com/page.html">
		<meta name="twitter:title" content="Content Title">
		<meta name="twitter:description" content="Content description less than 200 characters">
		<meta name="twitter:image" content="https://example.com/image.jpg">
		
		<link rel="stylesheet" type="text/css" href="{{ static("website/css/normalize.css") }}">
		{% block page_css %}
		<!-- CSS Files -->
		{% endblock %}
		{% block page_js %}
		<!-- JS Files -->
		{% endblock %}

		{% block bootstrap_tags %}
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}
	</head>

	<body>
		{% block content %}
		<!-- title bar and menu bar -->
		<div class="container-fluid sticky-top">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
					  <a class="navbar-brand" href="#">A Couple Cold Ones</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>

					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav mr-auto">
					      <li class="nav-item active">
					        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#">About</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#">Deathstrodomus</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#">Forum</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#">Contact</a>
					      </li>
					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Episodes
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <a class="dropdown-item" href="#">Latest <span class="badge badge-secondary">New</span></a>
					          <a class="dropdown-item" href="#">Previous</a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="#">Archive</a>
					        </div>
					      </li>
					    </ul>
					    <form class="form-inline my-2 my-lg-0">
					      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					    </form>
					  </div>
					</nav>
				</div>
			</div>

			<div class="row align-items-center justify-content-sm-center" style="margin-top: 2em;margin-bottom: 2em;">
				<div class="col">
					<blockquote class="blockquote text-center">
					  <p class="mb-0">A light hearted podcast suitable for everyone in the family!</p>
					  <footer class="blockquote-footer">A random stranger on <cite title="The Internet">The Internet</cite></footer>
					</blockquote>
				</div>
				<div class="w-100 d-*-block d-sm-block"></div>
				<div class="col">
					<blockquote class="blockquote text-center">
					  <p class="mb-0">These guys have some really wet blinks, which is my fetish. So every blink I hear, gets me closer to climaxing.</p>
					  <footer class="blockquote-footer">A random stranger on <cite title="The Internet">The Facebook</cite></footer>
					</blockquote>
				</div>
				<div class="w-100 d-none d-*-block"></div>
				<div class="col">
					<blockquote class="blockquote text-center">
					  <p class="mb-0">These guys are fuck ugly but hilarious. I'm glad it's a pod cast</p>
					  <footer class="blockquote-footer">A random stranger on <cite title="The Internet">The Twitter</cite></footer>
					</blockquote>
				</div>
			</div>


		<!-- main content -->

			<div class="row justify-content-md-center">
				<div class="col-1">
					<p> Ads go hear! </p>
				</div>
				<div class="col">
					<h2>Some stuff</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-1">
					<p> T-Shirts</p>
					<p>Promotions</p>
				</div>
			</div>

			<div class="row align-items-end">
				<div class="col text-center">Footer Stuff</div>
				<div class="col text-center">Legal</div>
				<div class="col text-center">Contact</div>
				<div class="col text-center">Privacy</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
