<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}ColdOnes Podcast{% endblock %}</title>
		<meta name="description" content="{% block description %}Homepage of the ColdOnes Podcast!{% endblock %}">
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{ static("website/apple-touch-icon.png") }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ static("website/favicon-32x32.png") }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ static("website/favicon-16x16.png") }}">
		<link rel="manifest" href="{{ static("website/site.webmanifest") }}">
		<link rel="mask-icon" href="{{ static("website/safari-pinned-tab.svg") }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

		<!-- MS Stuff -->
		<meta name="msapplication-config" content="{{ static("website/browserconfig.xml") }}">
		<meta name="application-name" content="A Couple of Cold Ones Podcast"/>

		{% block canonical_url %}
		<link rel="canonical" href="">
		{% endblock %}

		<!-- Critical CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% block critical_css %}
		<style>
			
		</style>
		{% endblock %}

		<!-- Facebook OG Card and Twitter Card -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ url("index") }}">
		<meta property="og:title" content="A Couple of Cold Ones Podcast">
		<meta property="og:image" content="{{ static("website/img/coldones_banner.jpg") }}">
		<meta property="og:description" content="This podcast will discuss current events and pop culture through the lens of some rather dark and drunk individuals.">
		<meta property="og:site_name" content="A Couple of Cold Ones Podcast">
		<meta property="og:locale" content="en_US">
		<!-- Next tags are optional but recommended -->
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">

		<meta name="twitter:card" content="This podcast will discuss current events and pop culture through the lens of some rather dark and drunk individuals.">
		<meta name="twitter:site" content="@site_account">
		<meta name="twitter:creator" content="@individual_account">
		<meta name="twitter:url" content="{{ url("index") }}">
		<meta name="twitter:title" content="A Couple of Cold Ones Podcast">
		<meta name="twitter:description" content="This podcast will discuss current events and pop culture through the lens of some rather dark and drunk individuals.">
		<meta name="twitter:image" content="{{ static("website/favicon-32x32.png") }}">
		
		<link rel="stylesheet" type="text/css" href="{{ static("website/css/normalize.css") }}">
		<link rel="stylesheet" type="text/css" href="{{ static("website/css/website.css") }}">
		{% block page_css %}
		<!-- CSS Files -->
		{% endblock %}
		{% block page_js %}
		<!-- JS Files -->
		{% endblock %}

		{% block bootstrap_tags %}
		<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}
	</head>

	<body>
		{% block content %}
		<!-- title bar and menu bar -->
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col">
					<a class="navbar-brand" href="{{ url("index") }}">
						<img style="max-width:250px;max-height:250px;" src="https://episodes.nyc3.digitaloceanspaces.com/ColdOne/static-assets/mainimage.jpg" />
					</a>
					<!--<img style="max-height: 250px" src="{{ static("website/img/coldones_banner.jpg") }}" />-->
				</div>
			</div>
			<div class="row sticky-top pb-md-3">
				<div class="col" style="background-color: #e3f2fd;">
					<nav class="navbar navbar-expand-lg navbar-light">

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse pt-3 pt-lg-0 pr-lg-4 pl-lg-4" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
									<a class="nav-link ice-font-button" href="{{ url("index") }}">A Couple Cold Ones<br><span>Podcast</span><span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url("about") }}">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Deathstrodomus</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url("forum") }}">Forum</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url("contactus") }}">Contact</a>
								</li>
								{% if show_episodes %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Podcasts
									</a>
									
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ url("podcast:episode", args=(latest.id,)) }}">Latest <span class="badge badge-secondary">New</span></a>
										<a class="dropdown-item" href="{{ url("podcast:episode", args=(previous.id,)) }}">Previous</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{{ url("podcast:episodes") }}">Archive</a>
									</div>
								</li>
								{% endif %}
							</ul>
							<form class="form-inline my-2 my-lg-0" action="{{ url("search") }}">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
					</nav>
				</div>
			</div>
			
			{% block banner %}

			{% endblock %}

		<!-- main content -->
			<div class="row justify-content-center">
				<div class="order-1 order-lg-2 col-12 col-md-9 col-lg-9">
					{% block body %}

					{% endblock %}
				</div>
				{% block promo_panel %}
				<div class="order-3 order-md-3 col-10 col-md-12 col-lg-1 mt-md-5 align-items-center ml-auto mr-auto" style="min-width: 10em;">
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=T-Shirts or our store" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=T-Shirts or our store" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Look at this promo" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Pormo3" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Just a test" />
					</a>
				</div>
				{% endblock %}
				{% block ad_panel %}
				<div class="order-2 order-md-2 order-lg-1 col-10 col-md-2 col-lg-1 mt-md-5 align-items-center ml-auto mr-auto" style="min-width: 10em;">
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
					<a href="#">
						<img src="https://via.placeholder.com/150x150?text=Your Ad Here" />
					</a>
				</div>

				{% endblock %}
			</div>

			<div class="row align-items-end">
				<div class="col text-center"><a href="{{ url("index") }}">Footer Stuff</a></div>
				<div class="col text-center"><a href="{{ url("legal") }}">Legal</a></div>
				<div class="col text-center"><a href="{{ url("contactus") }}">Contact</a></div>
				<div class="col text-center"><a href="{{ url("privacypolicy") }}">Privacy</a></div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
